.cardPost {
    aspect-ratio: 4 / 3;
    background-color: var(--tg-secondary-bg);
    max-width: 800px;
    border-radius: 24px;
    position: relative;
    transition: .3s;

    &__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    inset: 0;
    object-position: center;
    border-radius: 24px;
    overflow: hidden;
    }

    &__topBar {
        display: flex;
        align-items: center;
        padding: 16px;
        width: 100%;
        height: 48px;
        position: absolute;
        top: 0;
        z-index: 10;
        border-radius: 24px;
        overflow: hidden;

        &__blur {
            position: absolute;
            width: 140%;
            left: -20%;
            height: 75%;
        }
        &__detail {
            display: flex;
            align-items: baseline;
            gap: 8px;
            z-index: 20;

            &__category {
                font-size: 12px;
                color: #fff;
            }

            &__readTime {
                font-size: 12px;
                mix-blend-mode: overlay;
                color: #ffffff75;
                position: relative;
            }
        }
    }

    &__top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 48px;
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 128px;
    }
    &__border {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border: 1px solid #ffffff50;
        mix-blend-mode: overlay;
        border-radius: 24px;
        z-index: 10;
        pointer-events: none;
    }
}