.tabBar {
  position: fixed;
  right: calc(32px + var(--safe-area-right));
  bottom: 0;
  left: calc(32px + var(--safe-area-left));
  z-index: 40;
  margin-bottom: calc(21px);
  padding: 0.25rem;
  border-radius: 62px;
  background: color-mix(in srgb, var(--tg-bottom-bar-bg) 84%, transparent);
  backdrop-filter: blur(12px) saturate(1.25);
  -webkit-backdrop-filter: blur(12px) saturate(1.25);
  // overflow: hidden;
  contain: paint;
  transition: .3s;

  &:active {
    scale: 1.025;
  }
}

.tabBar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--tg-section-separator) 15%, transparent);
  pointer-events: none;
}

.tabLayer {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.tabButton {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  font: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
}

.tabButton:disabled {
  cursor: default;
}

.capsuleWindow {
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  z-index: 2;
  border-radius: 54px;
  overflow: hidden;
  pointer-events: auto;
  touch-action: pan-y;
  will-change: transform;
  box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--tg-section-separator) 0%, transparent);


  &:active {
    box-shadow: inset 0 0 0 4px color-mix(in srgb, var(--tg-section-separator) 50%, transparent);
  }
}

.capsuleBg {
  position: absolute;
  inset: 0;
  border-radius: 52px;
  background: color-mix(in srgb, var(--tg-section-bg) 90%, transparent);
  backdrop-filter: blur(6px) saturate(0.25);
  -webkit-backdrop-filter: blur(6px) saturate(0.25);
  overflow: hidden;

  &:active {
    backdrop-filter: saturate(0.5);
  }
}

.capsuleShine {
  position: absolute;
  inset: 0;
  border-radius: 54px;
  opacity: 0.32;
  mix-blend-mode: screen;
  pointer-events: none;
  overflow: hidden;
}

.accentTrack {
  height: 100%;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  overflow: hidden;
}

.tab {
  display: grid;
  justify-items: center;
  gap: 0.2rem;
  border-radius: 62px;
  text-align: center;
  height: 62px;
  padding: 0.5rem 0.65rem;
  color: var(--tg-text);
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1;
  transition: color 0.2s ease;
}

.tabIcon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
}

.tabIcon svg {
  width: 28px;
  height: 28px;
  fill: currentColor;
  transition: transform 0.2s ease;
}

.tabLabel {
  font-size: 10px;
  transition: transform 0.2s ease;
}

.tabButton:active .tabIcon svg,
.tabButton:active .tabLabel {
  transform: scale(1.03);
}

.tabAccent {
  color: var(--tg-accent);
}
