.card {
  display: grid;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  background: var(--tg-secondary-bg);
  color: inherit;
  transition: .3s;

  &:active {
    scale: 0.95;
  }
}

.cover {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.title {
  font-size: 16px;
  line-height: 1.2;
  color: var(--tg-text);
}

.excerpt {
  color: var(--muted-text);
  line-height: 1.2;
  font-size: 14px;
}

.meta {
  display: flex;
  justify-content: space-between;
  color: var(--tg-hint);
  font-size: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 24px;
  padding: 4px 12px;
  background: var(--tg-bg);
  color: var(--tg-hint);
}
